*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: palevioletred;
  }
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Dashboard page style */
  /* nav and search style */
  .dashboard{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    border: 2px solid goldenrod;
    background-color: turquoise;
    border-radius: 5px;
    overflow: hidden;
  }

  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: plum;
    flex: 0 0 auto;
  }
.logo{
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;

}
  .top-bar{
    display: flex;
    justify-content: center;
    padding:1rem 3rem;
  }

  /* search sytle */
  .search-box {
    display: flex;
    align-items: center;
  }

  .search-input{
    padding: 0;
    border: none;
    border-radius: 5px;
    width: 0;
   outline: none;
  }

  .search-input:focus{
    width: 200px;
    padding: 10px;
  }

  .search-button{
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .icon{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    cursor: pointer;
    border: none;
  }

  .search-i{
    background-image: url(pics/search.svg);
  }

  .user-i{
    background-image: url(pics/user.svg);
    margin-left: 1rem;
  }

  .logout-i{
    background-image: url(pics/logout.svg);
    margin-left: 1rem;
  }
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  flex: 1 1  auto;
  overflow-y: auto;
}
  .dash-item{
    position: relative;
  }

  .dash-button{
    width: 100%;
    height: 15vh;
    background-color: blanchedalmond;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .pin{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: salmon;
    color: black;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
  }
/* admin request style */
  .admin-req-main{
    padding: 20px;
  }

  nav[aria-label='breadcrumb'] ol {
    list-style: none;
    display: flex;
    padding: 0;
  }

nav[aria-label='breadcrumb'] li +li:before {
  content: ">";
  padding: 0 10px;
}

.req-buttons{
  justify-content: space-around;
  display: flex;
  margin: 2rem 0;
}

.req-buttons button{
  position: relative;
  padding: 10px;
  cursor: pointer;
}
.req-buttons button span {
  background-color: rgb(168, 47, 47);
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 12px;
}
.req-table {
  width: 100%;
  border-collapse: collapse;
}

.req-table, th, td {
  border: 1px solid #1d0730;
}

th, td {
  text-align: left;
  padding: 10px;
}

/* request details style */


.req-details{
background-color: orange;
padding: 20px;
border-radius: 3px;
box-shadow: 0 2px 4px rgba(0,0, 0, 0.1);
}

.req-details .req-h{
  border-bottom: 1px solid cornflowerblue;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.req-details .req-h h3{
  margin: 0 0 10px 0;
}

.req-details .req-h p{
  margin: 5px 0;
}

.req-details .req-b{
  padding: 10px 0;
}

.req-details .req-action{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 20px;
}

.req-details .req-action button {
  background-color: aquamarine;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

.req-details .req-action button:hover{
  background-color: navajowhite;
}

.req-details .res-section{
  margin-top: 20px;
  padding: 2rem;
}

.req-details .res-section label{
  display: block;
  margin-bottom: 5px;
}

.req-details .res-section textarea{
  width: 100%;
  border: 1px solid coral;
  padding: 10px;
  border-radius: 3px;
  resize: vertical;
}

.req-details .res-section button {
  background-color: skyblue;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}
.req-details .res-section button:hover{
  background-color: palegoldenrod;
}

.warning-modal{
  display: none;
  background-color: lightseagreen;
  color: beige;
  padding: 10px;
  border-radius: 3px;
  margin-top: 20px;
}

.warning-modal.visible{
  display: block;
}

.warning-modal .warning-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning-modal .close{
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.warning-modal .close:hover{
  background-color: darkmagenta;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#pictures img {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: 5% auto;
  width: 80%;
  display: block;
  max-width: 600px;
  border: 1px solid springgreen;
  padding: 20px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 10px 0;
  color: purple;
}

.modal-content #caption{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.closeModal {
  float: right;
  font-size: 40px;
  font-weight: bold;
  color: lightslategrey;
}

.closeModal:hover, .closeModal:focus {
  color: indianred;
  text-decoration: none;
  cursor: pointer;
}
