*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffffff;
  }
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Dashboard page style */
  /* nav and search style */
  .dashboard{
    width: 100%;
    max-width: 1400px;
    height: 95vh;
    border: 2px solid #007bff;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
  }

  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0D1B2a;
    flex: 0 0 auto;
  }
.logo{
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;

}
  .top-bar{
    display: flex;
    justify-content: center;
    padding:1rem 0;
  }

  /* search sytle */
  .search-box {
    display: flex;
    align-items: center;
  }

  .search-input{
    padding: 0;
    border: none;
    border-radius: 5px;
    width: 0;
   outline: none;
   transition: width 0.4s ease-in-out;
  }

  .search-input:focus{
    width: 200px;
    padding: 10px;
  }

  .search-button{
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .icon{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #0d1b2a;
    border-radius: 10px;
  }

  .search-i{
    background-image: url(pics/search.svg);
  }

  .user-i{
    background-image: url(pics/user.svg);
    margin-left: 1rem;
  }

  .logout-i{
    background-image: url(pics/logout.svg);
    margin-left: 1rem;
  }
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  flex: 1 1  auto;
  overflow-y: auto;
}
  .dash-item{
    position: relative;
  }

  .dash-button{
    width: 100%;
    height: 15vh;
    background-color: #007bff;
    border: 1px solid #333333;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  .dash-button:hover {
    background-color: #0056b3;
  }

  .pin{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 0.87rem;
  }
/* admin request style */
  .admin-req-main{
    padding: 20px;
  }

  nav[aria-label='breadcrumb'] ol {
    list-style: none;
    display: flex;
    padding: 0;
  }

nav[aria-label='breadcrumb'] li +li:before {
  content: ">";
  padding: 0 10px;
}

.req-buttons{
  justify-content: space-around;
  display: flex;
  margin: 2rem 0;
}

.req-buttons button{
  position: relative;
  padding: 25px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.req-buttons button:hover {
 background-color: #0056b3;
}

.req-buttons button span {
  background-color: #dc3545;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 8px;
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 0.75rem;
}
.req-table {
  width: 100%;
  border-collapse: collapse;
}

.req-table, th, td {
  border: 1px solid #0D1B2a;
}

th, td {
  text-align: left;
  padding: 10px;
}
th {
  background-color: #0D1B2a;
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

/* request details style */
.req-details{
background-color: #e9f7ef;
padding: 20px;
border-radius: 3px;
box-shadow: 0 2px 4px rgba(0,0, 0, 0.1);
}

.req-h{
  border-bottom: 1px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.req-h h3{
  margin: 0 0 10px 0;
  font-size: 1.25rem;
}
.req-h p{
  margin: 5px 0;
  font-size: 1rem;
}

.req-b{
  padding: 10px 0;
  font-size: 1rem;
}

.req-action{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 20px;
}

.req-action button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1rem;
}

.req-action button:hover{
  background-color: #0056b3;
}
.res-section{
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dc3545;
  border-radius: 5px;
}

.req-details .res-section label{
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

.res-section textarea{
  width: 100%;
  border: 1px solid #007bff;
  padding: 10px;
  border-radius: 3px;
  resize: vertical;
}

.res-section button {
  background-color:#007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}
.req-details .res-section button:hover{
  background-color: #0056b3;
}

/* show and hide modals */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* modal zoom pictures on click */
#pictures img {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0, 0, 0.5);
}

.modal-container{
  position: relative;
  margin: auto;
  width: 80%;
  padding: 20px;
  max-width: 600px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0, 0, 0.1);
}

.modal-content {
  width: 100%;
  border-radius: 5px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 10px 0;
  color: #0D1B2a;
}

.modal-content #caption{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

.closeModal:hover, .closeModal:focus {
  color: #dc3545;
  text-decoration: none;
}

/* warning modal display style */
.warning-modal{
  display: none;
  position: fixed;
  background-color: #fd7e14;
  color: #ffffff;
  padding: 25px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  margin-top: 20px;
  z-index: 2;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.warning-modal.visible{
  display: block;
}

.warning-modal .warning-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.warning-modal .close{
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 10px;
}

.warning-modal .close:hover{
  background-color: #0056b3;
}

