*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: palevioletred;
  }
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Dashboard page style */
  /* nav and search style */
  .dashboard{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    border: 2px solid goldenrod;
    background-color: turquoise;
    border-radius: 5px;
    overflow: hidden;
  }

  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: plum;
    flex: 0 0 auto;
  }
.logo{
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;

}
  .top-bar{
    display: flex;
    justify-content: center;
    padding:1rem 3rem;
  }

  /* search sytle */
  .search-box {
    display: flex;
    align-items: center;
  }

  .search-input{
    padding: 0;
    border: none;
    border-radius: 5px;
    width: 0;
   outline: none;
  }

  .search-input:focus{
    width: 200px;
    padding: 10px;
  }

  .search-button{
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .icon{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    cursor: pointer;
    border: none;
  }

  .search-i{
    background-image: url(pics/search.svg);
  }

  .user-i{
    background-image: url(pics/user.svg);
    margin-left: 1rem;
  }

  .logout-i{
    background-image: url(pics/logout.svg);
    margin-left: 1rem;
  }
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  flex: 1 1  auto;
  overflow-y: auto;
}
  .dash-item{
    position: relative;
  }

  .dash-button{
    width: 100%;
    height: 15vh;
    background-color: blanchedalmond;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .pin{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: salmon;
    color: black;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
  }
/* admin request style */
  .admin-req-main{
    padding: 20px;
  }

  nav[aria-label='breadcrumb'] ol {
    list-style: none;
    display: flex;
    padding: 0;
  }

nav[aria-label='breadcrumb'] li +li:before {
  content: ">";
  padding: 0 10px;
}

.req-buttons{
  justify-content: space-around;
  display: flex;
  margin: 2rem 0;
}

.req-buttons button{
  padding: 10px;
  cursor: pointer;
}
.req-buttons button span {
  background-color: rgb(168, 47, 47);
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 12px;
}
.req-table {
  width: 100%;
  border-collapse: collapse;
}

.req-table, th, td {
  border: 1px solid #1d0730;
}

th, td {
  text-align: left;
  padding: 10px;
}