/* styles.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffff0;
    color: #36454f;
    overflow-x: hidden;
  }
  .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

:focus {
  outline: 2px solid #333;
}

header {
  background-color: #4b2e2e;
  color: #fffff0;
  padding: 0 0 0.5rem 0;
  text-align: center;
}  

footer {
  background-color: #4b2e2e;
  color: #fffff0;
  padding: 0.9rem;
  margin-top: 0.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 0.8rem;
  padding-left: 2.5rem;
}

/* Home page style */
  /* nav and search style */
  .flex-container{
    justify-content: center;
    align-items: center;
  }

  .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 3rem;
  }

  .logo-link {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 80px;
    height: auto;
    transition: width 0.3s ease, height 0.3s ease;
  }


.icons {
  display: flex;
  align-items: center;
}

 .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  } 
  
  .menu {
    display: none;
    background: none;
    font-size: 4rem;
    color: #fffff0;
    border: none;
    cursor: pointer;
    margin-left: 2.5rem;
  }
  /* search sytle */
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-input{
    width: 0;
    padding: 0;
    border: 1px solid #d2b48c;
    border-radius: 5px;
    outline: none;
  }

  .search-input:focus{
    width: 200px;
    padding: 10px;
  }

  .search-button{
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .icon{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-color: #d2b48c;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #4b2e2e;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .icon:hover {
    background-color: #e97451;
    border-color: #daa520;
  }

  .search-i{
    background-image: url(pics/search.svg);
  }

  .user-i{
    background-image: url(pics/user.svg);
    margin-left: 1rem;
  }

  .basket-i{
    background-image: url(pics/cart.svg);
    margin-left: 1rem;
  }

/* navigation sytle */
nav{
  color:azure;
  display: block;
}

nav ul {
  list-style: none;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  flex: 1;
  padding: 0 1rem;
}

nav a{
  display: block;
  border: 5px solid #228b22;
  text-decoration: none;
  font-size: 1.45rem;
  background-color: #556b2f;
  color: #fffff0;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  
}
nav a:hover{
  background-color: #e97451;
  border-color: #daa520;
}

/* main style */
.main-pic{
  background-image: url(pics/mainHome.jpeg);
  background-size: cover;
  opacity: 80%;
  height: 33vh;
  margin: 0.2rem 3rem;
}
/*main slideshow */
.featured-products{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #d2b48c;
  position: relative;
  width: auto;
  margin: 0 3rem;
  height: 45vh;
}

.slideshow-container{
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.slideshow{
  overflow: hidden;
  width: 320px;
  height: auto;
  position: relative;
}

.slide-track{
  display: flex;
  transition:transform 0.5s ease-in-out;
}
.featured-item{
  flex: 0 0 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #4b2e2e;
  border-radius: 10px;
  padding: 1rem;
  height: 40vh;
}

.featured-pic {

  height: 30vh;
  border-radius: 10px;
}

.fetarured-info {
  text-align: center;
  margin-top: 10px;
}

.featured-name {
  font-size: 1.25rem;
  font-weight: normal;
}

.featured-price {
  font-size: 1.15rem;
  color: #333;
  font-weight: bold;
}

/*slideshow buttons*/
.slide-prev, .slide-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 10px;
  cursor: pointer;
  background: #e97451;
  color: #fffff0; 
  border: 2px solid #4b2e2e;
  z-index: 1;
  border-radius: 50%;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.slide-prev{
  left: -50px;
}

.slide-next{
  right: -50px;
}

/* catalog style */
.breadcrumb {
  margin: 0.2rem 0;
  background-color: #4b2e2e;
  padding: 0.5rem;
}
.breadcrumb a {
  text-decoration: none;
  display: inline-block;
  color: #fffff0;
  margin-right: 0.5rem;
  margin-left: 3rem;
  font-size: 1rem;
}

.breadcrumb a:last-child {
  margin-right: 0;
  margin-left: 0.5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

aside {
  width: 200px;
  padding: 1rem;
  background-color: #8a9a5b;
  margin: 0 2rem;
  border-radius: 10px;
}

aside h2, aside h3 {
  margin-bottom: 1rem;
}

aside ul {
  list-style: none;
  padding: 0;
}

 aside ul li {
  margin-bottom: 0.5rem;
 }

 #status-filter .filter {
  text-decoration: none;
  background-color: #ebc99c;
  color: #4b2e2e;
  padding: 0.5rem;
  border-radius: 5px;
  display: block;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
 }

 #status-filter .filter:hover {
  color: #fffff0;
  background-color: #556b2f;
 }

 .catalog-items {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
 }

 .catalog-items .product {
  width: 250px;
  text-align: center;
  background-color: #d2b48c;
  border: 2px solid #36454f;
  border-radius: 10px;
  padding: 1rem;
 }

 .catalog-items .product img {
  width:100%;
  height: auto;
  border-radius: 10px;
 }

 .catalog-items .product h3 {
  margin: 0.5rem 0;
  color: #4b2e2e;
 }

 .catalog-items .product p {
  color: #36454f;
  margin: 0.5rem 0;
 }

 .catalog-items .product .price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #36454f;
  margin-top: 0.5rem;
 }
/* service page style */
.service-section {
  position: relative;
  background: url('pics/mainService.jpg') no-repeat center center;
  background-size: cover;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:1rem 3rem;
  border-radius: 10px;
}

.service-section button {
  padding: 1rem 2rem;
  background-color: #556b2f;
  color: #fffff0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.service-section button:hover {
  background-color: #e97451;
  border-color: #daa520;
}

/* service form page style */
.service-form-section {
  background: #d2b48c;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: 2rem auto;
}
.service-request {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-full-name {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form-flex {
  display:flex;
  flex-direction: column;
  width:100%;
}

.form-flex label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.form-flex input [type="text"],
.form-flex input [type="email"],
.form-flex input [type="file"],
.form-flex textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.form-action {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
  width: 100%;
}

.service-request button {
  padding: 10px 15px;
  background-color: #556b2f;
  color:#fffff0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.service-request button:hover {
  background-color: #e97451;
  border-color: #daa520;
}

#successMessage {
  background: #228B22;
  color: #fffff0;
  border: 1px solid #4b2e2e;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

#successMessage button {
  background-color: #e97451;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fffff0;
  cursor: pointer;
}

/* login style */
.login-modal{
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.login-content {
  background-color: #fffff0;
  margin: 10% auto;
  padding: 2rem;
  border: 1px solid #4b2e2e;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
}

.close-login{
  color: #4b2e2e;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-login:hover, .close-login:focus{
  color: #e97451;
  text-decoration: none;
}

.login-content form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.login-content label {
  font-weight: bold;
  color: #4b2e2e;
}

.login-content input[type='text'], .login-content input[type='password'] {
  border: 1px solid #8a9a5b;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.login-content button {
  background-color: #228B22;
  color: #fffff0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-content button:hover {
  background-color: #556b2f;
}

#login-error{
  color: #e97451;
  display: none;
  text-align: center;
  margin-top: 1rem;
}

/* -------------------mobile devices media queries----------- */
@media(max-width: 768px) {
  .top-bar {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    align-items: center;
  }
  .logo {
    width: 60px;
    order: 2;
    margin: 0 auto;
  }

  .menu {
    display: block;
    order: 1;
    align-self: flex-start;
  }

.icons {
  order: 3;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon {
  padding: 1.5rem;
}

.search-box{
  display: flex;
  justify-content: right;
  margin-top: 1rem;
}
  .main-navigation {
    display: none;
    flex-direction: column;
    background-color: #4b2e2e;
    position: fixed;
    top: 7.5%;
    width: 50%;
    left: 0;
    height: 100%;
    padding: 0.5rem;
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
    transform: translateX('100%');
  }

.main-navigation.show {
  display: block;
}

  .top-bar form {
    width: 100%;
    margin-bottom: 1rem;
  }

.main-navigation ul {
    flex-direction: column;
  }

  .main-navigation li {
    padding: 1rem 0;
  }

  .main-navigation ul li a {
    display: block;
    text-align: center;
    padding: 1rem;
  }

  .main-pic {
    margin: 0.2rem 1rem;
  }

  .featured-products {
    margin: 0 1rem;
    padding: 1rem;
  }

  .slide-prev, .slide-next {
    left: auto;
    right: auto;
    top: 50%;
    bottom:  -auto;
    transform: translateY(-50%);
  }

  .slide-prev {
    margin-right: 0.5rem;
    left: -50px;
  }

  .slide-next {
    margin-left: 0.5rem;
    right: -50px;
  }

  .breadcrumb {
    margin: 0.2rem 1rem;
  }

  .content {
    padding: 0.5rem;
    flex-direction: column;
  }

  aside {
    margin: 0 1rem;
    width: auto;
  }

  .service-section {
    height: 30vh;
    margin: 1rem 1rem;
  }

.service-form-section {
  margin: 1rem 1rem;
}

.service-request label {
  font-size: 1.2rem;
}
.service-request input[type= 'text'],
.service-request input[type= 'email'],
.service-request input[type= 'file'],
.service-request textarea {
font-size: 1.2rem;
padding: 13px;
}

.service-request button {
  font-size: 1.2rem;
  padding: 12px 8px;
}

.catalog-items .product {
  width: calc(50% -1rem);
}

.catalog-items {
  padding: 0.5rem;
}
}

@media(max-width: 480px) {
  .top-bar {
    flex-direction: column;
    padding: 0.5rem;
  }

  .top-bar form {
    width: 100%;
    margin-bottom: 1rem;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    padding: 0.5rem 0;
  }

  nav a {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  .main-pic {
    margin: 0.2rem;
    height: 20vh;
  }

  .featured-products {
    margin: 0.2rem;
  }

  .slide-prev, .slide-next {
    left: 0;
    right: 0;
    top: auto;
    bottom:  -40px;
    transform: none;
  }

  .slide-prev {
    margin-right: 0.5rem;
  }

  .slide-next {
    margin-left: 0.5rem;
  }

  .breadcrumb {
    margin: 0.2rem;
  }

  .content {
    padding: 0.2rem;
    flex-direction: column;
  }

  aside {
    margin: 0.2rem;
    width: auto;
  }

  .service-section {
    height: 20vh;
    margin: 0.2rem;
  }

.service-form-section {
  margin: 0.5rem;
}

.catalog-items .product {
  width: calc(100% -0.5rem);
}

.catalog-items {
  padding: 0.2rem;
}
}