/* styles.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffff0;
    color: #36454f;
  }
  .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

header {
  background-color: #4b2e2e;
  color: #fffff0;
  padding: 0.5rem 0;
  text-align: center;
}  
/* Home page style */
  /* nav and search style */
  .flex-container{
    justify-content: center;
    align-items: center;
  }

  .top-bar{
    display: flex;
    justify-content: right;
    padding:1rem 3rem;
  }

  /* search sytle */
  .search-box {
    display: flex;
    align-items: center;
  }

  .search-input{
    width: 0;
    padding: 0;
    border: 1px solid #228b22;
    border-radius: 5px;
    outline: none;
  }

  .search-input:focus{
    width: 200px;
    padding: 10px;
  }

  .search-button{
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .icon{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-color: #228B22;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #4b2e2e;
    border-radius: 50%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .icon:hover {
    background-color: #e97451;
    border-color: #daa520;
  }

  .search-i{
    background-image: url(pics/search.svg);
  }

  .user-i{
    background-image: url(pics/user.svg);
    margin-left: 1rem;
  }

  .basket-i{
    background-image: url(pics/cart.svg);
    margin-left: 1rem;
  }

/* navigation sytle */
nav{
  color:azure;
  display: block;
}

nav ul {
  list-style: none;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  flex: 1;
  padding: 0 1rem;
}

nav a{
  display: block;
  border: 5px solid #228b22;
  text-decoration: none;
  font-size: 1.25rem;
  background-color: #556b2f;
  color: #fffff0;
  padding: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  
}
nav a:hover{
  background-color: #e97451;
  border-color: #daa520;
}

/* main style */
.main-pic{
  background-image: url(pics/mainHome.jpeg);
  background-size: cover;
  opacity: 80%;
  height: 20rem;
  margin: 2rem 3rem 2rem 3rem;
}
/*main slideshow */
.featured-products{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #d2b48c;
  position: relative;
  padding: 2rem;
}

.slideshow-container{
  position: relative;
  max-width: 320px;
}
.slideshow{
  overflow: hidden;
  width: 320px;
  height: 300px;
}
.slide-track{
  display: flex;
  transition:transform 0.5s ease-in-out;
}
.featured-item{
  flex: 0 0 auto;
  width: 320px;
  height: 300px;  
  background-size: contain;
  background-position: center;
}

/*slideshow buttons*/
.slide-prev, .slide-next{
  position: absolute;
  top: 50%;
  padding: 15px 10px;
  cursor: pointer;
  background: #e97451;
  color: #fffff0; 
  border: 5px solid #4b2e2e;
  z-index: 1;
  border-radius: 50%;
}

.slide-prev{
  left: 0;
  transform: translate(-50%, -50%);
}
.slide-next{
  right: 0;
  transform: translate(-50%, -50%);
}

/* catalog style */
.breadcrumb {
  margin: 0 2rem;
  background-color: #4b2e2e;
  border: none;
}
.breadcrumb a {
  text-decoration: none;
  border: none;
  display: inline-block;
  color: #fffff0;
}
.content {
  display: flex;
  padding: 20px;
}

aside {
  width: 200px;
  padding-right: 20px;
  background-color: #8a9a5b;
  margin: 0 2rem;
}

aside h2, aside h3 {
  margin-top: 0;
}

aside ul {
  list-style: none;
  padding: 5px;
}

 aside ul li {
  margin-bottom: 10px;
 }

 .catalog-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 }

 .catalog-items .product {
  width: 300px;
  text-align: center;
 }

 .catalog-items .product img {
  width:100%;
  height: auto;
 }

/* service page style */
.service-section {
  position: relative;
  background: url('pics/mainService.jpg') no-repeat center center;
  background-size: cover;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 2rem;
}

.service-section button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.service-section button:hover{
  background-color: lightblue;
}

/* service form page style */
.service-form-section {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: 2rem auto;
}
.service-request {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-full-name {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form-flex {
  display:flex;
  flex-direction: column;
  width:100%;
}

.form-flex label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-flex input [type="text"],
.form-flex input [type="email"],
.form-flex input [type="file"],
.form-flex textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.form-action {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
  width: 100%;
}

.service-request button {
  padding: 10px 15px;
  background-color: tan;
  color:navy;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.service-request button:hover {
  background-color: aquamarine;
}

#successMessage {
  background: mediumaquamarine;
  color: #3c763d;
  border: 1px solid saddlebrown;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

#successMessage button {
  background-color: firebrick;
  margin-top: 10px;
}

/* login style */
.login-modal{
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
}

.login-content {
  background-color: tan;
  margin: 15px auto;
  padding: 25px;
  border: 1px solid khaki;
}

.close-login{
  color: #333;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close-login:hover, .close-login:focus{
  color: goldenrod;
  text-decoration: none;
  cursor: pointer;
}